<div class="container">
    <h1><%= @chat_room.title %></h1>
    <div class="chat-box">
        
        <%= render @chat_room.messages %>
    
    </div>
    <%= link_to "New message", new_chat_room_message_path(@chat_room), class:"btn btn-success" %>
    
    
</div>