<div class='container feature feature-text'>
    <form method="POST" action="http://formspree.io/kurtzikaras@gmail.com">
        <div class="form-group">
            <h3>Your email:</h3>
            <input type="email" name="email" placeholder="Your email" class="form-control">
        </div>
        <div class="form-group">
            <h3>Your message:</h3>
            <textarea name="message" placeholder="Your message" class="form-control"></textarea><br>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Send</button>
        </div>
    </form>
</div>


<div class="form-group">